:root {
	--color-theme-accent: #fcc813;
	--color-theme-dark: #505358;
	--color-text-dark: var(--color-theme-dark);
	--color-text-light: white;
	--color-text-accent: var(--color-theme-accent);
	--color-border-dark: var(--color-theme-dark);
	--header-height: 5em;
	--footer-height: 2em;
	font-family: "Montserrat", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
}

body {
	margin: 0;
}

a {
	color: var(--color-text-dark);
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	-webkit-font-smoothing: antialiased;
}

a:hover {
	color: var(--color-text-accent);
	transition: color 0.2s linear;
}